<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">


<h1>User info</h1>
<%= form_for @user, url: user_path(@user), method: :patch do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :Image %><br>
  <%= f.file_field :profile_image %><br>

  <%= f.label :introduction %><br>
  <%= f.text_field :introduction %><br>

  <%= f.submit 'Update User' %>
<% end %>

   </div>
  </div>
</div>