<div>
  <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <!-- ユーザーの詳細 -->

  <h2>User info</h2>
  <%= image_tag user.get_profile_image_url(100,100) %>

  <table class="table table-striped">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
  </table>
  <%= button_to 'Edit User', edit_user_path(current_user), method: :get, class: 'btn btn-primary' %>
</div>


<%= form_with model: book do |f| %>
<div>

  <h1>New book</h1>
  <h6>Title</h6>
  <%= f.text_field :title %>
  
  <h6>Option</h6>
  <%= f.text_area :body %>
  
  <br>
  <%= f.submit 'Create Book' %>

</div>

<% end %>