books indexのページ


<div class="container">
<div class="row">
<div class="col-3">
<!-- ユーザーの詳細 -->
<div>
  <h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>

<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th></th>
    </tr>
  </tbody>
</table>
<%= button_to 'Edit User', edit_user_path(current_user), method: :get, class: 'btn btn-primary' %>
</div>



      <%= form_with model: @book do |f| %>
        <h1>New book</h1>
        <h6>Title</h6>
        <%= f.text_field :title %>
        
        <h6>Option</h6>
        <%= f.text_area :body %>
        
        <br>
        <%= f.submit 'Create Book' %>
      <% end %>
    </div>
    
