
<div class="container">
<div class="row">
<div class="col-3">
<!-- ユーザーの詳細 -->
<%= render 'shared/userbook', user:@user, book:@book %>
</div>


    <!-- 本の詳細 -->
    <div class="col-8 offset-1">
    <table class="table table-striped">
      <thead>
        <tr>
        <h1>Book detail</h1>
        <th colspan="1"></th>

        </tr>
      </thead>
    <tbody>

        <tr>
        <td><%= image_tag @book.user.get_profile_image_url(100, 100) %><br>
        <%= link_to @book.user.name, user_path(@book.user) %>

        <td><%= link_to @book.title, book_path(@book) %></td>
        <td><%= @book.body %></td>
        <td>
          <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>          
        </td>
        <td>
        <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
        </tr>


        
    </tbody>
    </table>
    </div>
    </div>
    </div>
    
    